#mainCanvas {
    border: 1px black dotted;
    width: 600px;
    height: 600px;
}

#muehle-bild {
    position: absolute;
    z-index: 2;
    width: 600px;
    height: 600px;
}


.morris-stone {
    position: absolute;
    z-index: 10;
    outline: 1px solid #000000;
}

.landing-point {
    position: absolute;
    background: red;
    z-index: 5;
}

.morris-stone, .landing-point {
    width: 50px;
    height: 50px;
}

#draggable {
    position: absolute;

    color: red;


    margin-left: 0px;
    margin-top: 0px;

}

#draggable2 {
    position: absolute;

    color: green;


    margin-left: 70px;
}

.field {
    position: absolute;
}