#mainCanvas {
    border: 1px black dotted;
    width: 600px;
    height: 600px;
    float: left;
}

#stoneSource {
    margin-left: 610px;
}

#muehle-bild {
    position: absolute;
    z-index: 2;
    width: 600px;
    height: 600px;
}

.morris-stone {
    position: absolute;
    z-index: 10;
    outline: 1px solid #000000;
}

.morris-stone.player1 {
    background: black;
}

.morris-stone.player2 {
    background: red;
}

.landing-point {
    position: absolute;
    z-index: 5;
}



.landing-point.filled {
    background: yellow;
}

.landing-point.drophover {
    background: blue;
}

.morris-stone, .landing-point {
    width: 50px;
    height: 50px;
}

.field {
    position: absolute;
}

.depot {
    min-height: 100px;
}